<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.philippschardt.panelinglamp" >

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemePanelingLamp" >
        <activity
            android:name="net.philippschardt.panelinglamp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name="net.philippschardt.panelinglamp.MySocketService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="net.philippschardt.panelinglamp.PanelingLamp"
            android:label="@string/title_activity_paneling_lamp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
